/* --------------------------------- Non Veg  */

.food-cat.C {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #aa0000;
  border-radius: 50%;
  width: 1.1em;
  height: 1.1em;
  color: black;
  padding: 12px;
}

.food-cat.E {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #aa0000;
  border-radius: 50%;
  width: 1.1em;
  height: 1.1em;
  color: black;
  padding: 12px;
}

.food-cat.M {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #aa0000;
  border-radius: 50%;
  width: 1.1em;
  height: 1.1em;
  color: black;
  padding: 12px;
}

.food-cat.F {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #aa0000;
  border-radius: 50%;
  width: 1.1em;
  height: 1.1em;
  color: black;
  padding: 12px;
}

.food-cat.P {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #aa0000;
  border-radius: 50%;
  width: 1.1em;
  height: 1.1em;
  color: black;
  padding: 12px;
}

.food-cat.B {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #aa0000;
  border-radius: 50%;
  width: 1.1em;
  height: 1.1em;
  color: black;
  padding: 12px;
}

/* --------------------------------- Veg  */

.food-cat.V {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
  border-radius: 50%;
  width: 1.1em;
  height: 1.1em;
  color: black;
  padding: 12px;
}

.food-cat.CC {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
  border-radius: 50%;
  width: 1.1em;
  height: 1.1em;
  color: black;
  padding: 12px;
}

.food-cat.T {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
  border-radius: 50%;
  width: 1.1em;
  height: 1.1em;
  color: black;
  padding: 12px;
}
